@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.content {
    /*min-width: 800px;
    max-width: 980px;*/
    background-color: #dedede;
    padding: 30px;
    width: 70%;
    height: 70vh;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-content {    
    width: 100%;
}

.header-content ul {    
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products {
    width: 100%;
    background-color: #fff;
    padding: 30px;;
    width: 70%;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.products {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products ul {
    list-style: none;
}

.cart {
    width: 400px;
    height: 50vh;
    background-color: #fff;
    padding: 30px;;
}

.cart ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 10px;
}

.cart input {    
    min-width: 25px;
    max-width: 25px;
}

.desc_prod_cart {
    width: 75px;
    font-size: .8em;
    text-align: right;
}


.cart ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

